:root {
  --orange-primary: #ff6602;
  --grey-primary-bkgd: #f6f6ef;
  --grey-secondary-bkgd: #e6e6df;
  --black: black;
  --white: white;
  --grey-btn: #999999;
  --grey-light-1: #828282;
  --grey-light-2: #b8b8b8;
}
body {
  display: block !important;
  margin: 0;
  background: var(--grey-primary-bkgd);
}
header {
  background: var(--orange-primary);
  padding: 12px;
  .header-items {
    display: inline-block;
  }
  .header-items.header-items--logo-icon {
    border: 1px solid var(--white);
    width: 16px;
    text-align: center;
    color: var(--white);
    font-family: monospace;
    font-weight: bold;
  }
  .header-items.header-items--stories-type {
    border-right: 1px solid var(--black);
    text-align: center;
    width: 45px;
  }
}
.header-items.header-items--stories-type {
  &:last-child {
    border: none;
  }
}
.selected-text {
  color: var(--white);
}
.hidden {
  visibility: hidden;
}
