:root {
  --orange-primary-bkgd: #ff6602;
  --grey-primary-bkgd: #f6f6ef;
  --grey-secondary-bkgd: #e6e6df;
  --black: black;
  --white: white;
  --grey-btn: #999999;
  --grey-light-1: #828282;
  --grey-light-2: #b8b8b8;
}

body {
  margin: 0;
  background: var(--grey-primary-bkgd);
}

header {
  background: var(--orange-primary-bkgd);
  padding: 12px;
}

header .header-items {
  display: inline-block;
}

header .header-items.header-items--logo-icon {
  border: 1px solid var(--white);
  width: 16px;
  text-align: center;
  color: var(--white);
  font-family: monospace;
  font-weight: bold;
}

header .header-items.header-items--stories-type {
  border-right: 1px solid var(--black);
  text-align: center;
  width: 45px;
}

.header-items.header-items--stories-type:last-child {
  border: none;
}

.selected-text {
  color: var(--white);
}

.stories-list {
  margin-top: 24px;
}

.stories-list .stories-list--wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.stories-list .stories-list--wrapper .stories-list--item {
  padding: 5px;
}

.stories-list .stories-list--wrapper .stories-list--item:nth-child(odd) {
  background: var(--grey-secondary-bkgd);
}

.stories-list .stories-list--wrapper .stories-list--item span {
  margin-right: 6px;
}

.stories-list .stories-list--wrapper .stories-list--item .light-grey {
  color: var(--grey-light-2);
  margin: 0;
}

.stories-list .stories-list--wrapper .stories-list--item .text {
  margin: 0;
}

.stories-list .stories-list--wrapper .stories-list--item .story-comment-count {
  display: inline-block;
  margin: 0 36px;
  text-align: right;
  width: 36px;
}

.stories-list .stories-list--wrapper .stories-list--item .story-upvotes {
  width: 36px;
  display: inline-block;
  text-align: right;
  margin-right: 6px;
}

.stories-list .stories-list--wrapper .stories-list--item .story-upvote-btn {
  color: var(--grey-btn);
  font-size: 0.7em;
  margin-right: 6px;
}

.stories-list .stories-list--wrapper .stories-list--item .story-link a,
.stories-list .stories-list--wrapper .stories-list--item .story-created-at {
  color: var(--grey-light-1);
}
